
  
 .mrt-20{
margin-top: 22px;
 }

 h3{
     /* text-align:center; */
     padding:5px 0px;
 }
 .card{
padding:10px 0px;
text-align: justify;
 }

 .txt-style{
 padding:5px 0px;
 font-size:20px;
 text-align:r;
 }
 @import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
#team {
    background: #eee !important;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #108d6f;
    border-color: #108d6f;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #007b5e;
    border-color: #007b5e;
}

section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#team .card {
    border: none;
    background: #ffffff;
}



.frontside {
    position: relative;
    z-index: 2;
    margin-bottom: 30px;
}


.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}