<!-- 
<div class="row justify-content-center">
    <div class="col-md-4">
<div class="form-group">
    <label>Select EventList</label>
  
    <select class="form-control" [(ngModel)]="selectedEvent" (ngModelChange)="updateEvent($event)">
        <option value="">Select</option>
        <option *ngFor="let event of eventNameList" [ngValue]="event">{{event.name}}</option>
    </select>
   
  </div>
</div>
</div> -->

<body>
  <div class="page-wrapper p-t-180 p-b-100 font-robo">
    <div class="wrapper wrapper--w960">
      <div class="card card-2">
        <div class="card-heading" [ngStyle]="{background: 'url(/assets/' + randomEventName+ '.jpg )'}"></div>
        <div class="card-body">
          <h2 class="title">Event name: Event {{randomEventName}}</h2>
          <h3>Number of available seats : {{randomAvailableSeat}}</h3>
          <form [formGroup]="eventForm" (ngSubmit)="onSubmit()" #f="ngForm">
            <div class="form-group">
              <label for="inputName">Name</label>
              <input class="form-control" type="text" formControlName="name">
              <!-- error -->
              <div class="invalid-feedback" *ngIf="submitted && myForm.name.errors?.required">
                Please enter your name.
              </div>
            </div>

            <div class="form-group">
              <label for="inputEmail3">Email</label>
              <input class="form-control" type="text" formControlName="email">
              <!-- error -->
              <div class="invalid-feedback" *ngIf="submitted && myForm.email.errors?.required">
                Please enter your email
              </div>
              <div class="invalid-feedback" *ngIf="submitted && myForm.email.errors?.pattern">
                Please enter valid email.
              </div>
            </div>


            <div class="form-group">
              <label for="inputVerify3">Mobile No</label>
              <input class="form-control" type="text" formControlName="phoneNumber" maxlength="10">
              <!-- error -->
              <div class="invalid-feedback" *ngIf="submitted && myForm.phoneNumber.errors?.required">
                Enter your phone number.
              </div>
              <div class="invalid-feedback" *ngIf="submitted && myForm.phoneNumber.errors?.pattern">
                Enter Numbers Only
              </div>
            </div>
            <div class="form-group">
              <label for="inputPassword3">Number of seat</label>
              <select class="custom-select form-control" (change)="selectNoofseat($event.target.value)"
                formControlName="noOfSeat">
                <option value="">Choose...</option>
                <option *ngFor="let seat of noOfSeatList" value="{{seat}}">{{seat}}
                </option>
              </select>
              <!-- error -->
              <div class="invalid-feedback" *ngIf="submitted && myForm.noOfSeat.errors?.required">
                Please enter the number of seats
              </div>
              <div class="invalid-feedback" *ngIf="myForm.noOfSeat.value>randomAvailableSeat">
                Number of seats selected is more than available seats
              </div>
            </div>
            <div *ngIf="myForm.noOfSeat.value>1">
              <div formArrayName="attende">
              <div *ngFor="let att of attendeForms.controls; let i=index" [formGroupName]="i" class="form-group">
                <label for="inputVerify3">Name of Attendee {{i+1}}</label>
                  <input class="form-control" type="text"  formControlName='name' class="form-control"/>
                   <div class="invalid-feedback" *ngIf="submitted && att.get('name').errors?.required">
                    Please enter the Attendee{{i+1}} name.
                  </div>
              </div>
              
              </div>
            <!-- <div class="form-group" *ngFor="let att of attendee" >
              <label for="inputVerify3">Name of Attendee {{att}}</label>
              <input class="form-control" type="text" formControlName="phoneNumber">
              <div class="invalid-feedback" *ngIf="submitted && myForm.phoneNumber.errors?.required">
                Enter your phone number.
              </div>
              <div class="invalid-feedback" *ngIf="submitted && myForm.phoneNumber.errors?.pattern">
                Enter Numbers Only
              </div>
            </div> -->
            </div>
            <div class="form-group">
              <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd" name="dp" formControlName="date" ngbDatepicker
                  #d="ngbDatepicker">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <button class="btn btn-danger form-control  btn-block" routerLink='/event-list'>Cancel</button></div>
              <div class="col">
                <button class="btn btn-primary form-control btn-block" type="submit">Submit</button></div>
            </div>


          </form>
          <!-- <form method="POST">
                      <div class="input-group">
                          <input class="input--style-2" type="text" placeholder="Name" name="name">
                      </div>
                      <div class="row row-space">
                          <div class="col-2">
                              <div class="input-group">
                                  <input class="input--style-2 js-datepicker" type="text" placeholder="Birthdate" name="birthday">
                                  <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                              </div>
                          </div>
                          <div class="col-2">
                              <div class="input-group">
                                  <div class="rs-select2 js-select-simple select--no-search">
                                      <select name="gender">
                                          <option disabled="disabled" selected="selected">Gender</option>
                                          <option>Male</option>
                                          <option>Female</option>
                                          <option>Other</option>
                                      </select>
                                      <div class="select-dropdown"></div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="input-group">
                          <div class="rs-select2 js-select-simple select--no-search">
                              <select name="class">
                                  <option disabled="disabled" selected="selected">Class</option>
                                  <option>Class 1</option>
                                  <option>Class 2</option>
                                  <option>Class 3</option>
                              </select>
                              <div class="select-dropdown"></div>
                          </div>
                      </div>
                      <div class="row row-space">
                          <div class="col-2">
                              <div class="input-group">
                                  <input class="input--style-2" type="text" placeholder="Registration Code" name="res_code">
                              </div>
                          </div>
                      </div>
                      <div class="p-t-30">
                          <button class="btn btn--radius btn--green" type="submit">Search</button>
                      </div>
                  </form> -->
        </div>
      </div>


    </div>

  </div>
</body>