<div>
    <p><strong>{{ event.id }}</strong>. {{ event.title }}</p>
</div>
<div class="card">
    <div class="card-body text-center">
      <h3>{{event.name}}</h3>
      <div class="row">
        <div class="col-md-5">
          <div>
            <img src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_02.png"
              class="img-fluid">
          </div>
        </div>
        <div class="col-md-7" style="text-align: justify;">
          <div class="txt-style">{{event.date}}</div>
          <div class="txt-style">{{event.phoneNumber}}</div>
          <div class="txt-style">Seat Available: {{event.noOfSeat}}</div>
          <div><button class="btn btn-warning" (click)="book()">Book Now</button></div>
        </div>
      </div>
    </div>
  </div>