<section id="team" class="pb-5 p-t-180 p-b-100">
    <div class="container">
        <input class="form-control" type="text" [(ngModel)]="searchTerm"
            (ngModelChange)="search()" placeholder="Search event" aria-label="Search">
        <div class="row" *ngIf="Eventlist.length>0;else noEvent">
            <div class="col-xs-12 col-sm-6 col-md-3" *ngFor="let event of Eventlist">
                <app-event [event]="event"></app-event>
            </div>
        </div>
        <ng-template #noEvent>
            <h1 style="text-align: center;color: white;margin: 15px;">No results found!</h1>
        </ng-template>
    </div>
</section>